<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/log-In-1.css">
</head>
<body>
    <header>
        <div class="header__logo">
            <img src="../storage/img/Star.svg">
        </div>
    </header>
    <main>
        <section class="section__form">
            <h1>Log in</h1>
            <form action="" method="post" class="login">
                <label for="">Email address</label>
                <input type="email" value="helloworld@gmail.com">
                <label for="">Password</label>
                <input type="password" value="123456789">
                <span>Forgot password?</span>
                <input type="submit" value="Log in">
            </form>
        </section>
        <section>
            <div class="section__line">
                <span>Or Login with</span>
              </div>
            <div class="section__social">
                <a href="/login//auth/google">Google</a>
                <button><img src="../storage/img/Facebook.svg"></button>
                <button><img src="../storage/img/Google.svg"></button>
                <button><img src="../storage/img/Apple.svg"></button>
            </div>
        </section>
    </main>
    <footer>
        <p>Don’t have an account? <b>Sign up</b></p>
    </footer>
</body>
</html>