<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sign-Up-3.css">
</head>
<body>
    <header>
        <div class="header__logo">
            <img src="../storage/img/Star.svg">
        </div>
    </header>
    <main>
        <section class="section__form">
            <h1>Create account</h1>
            <form action="" method="post" class="login">
                <label for="">Username</label>
                <input type="text" placeholder="Your username">
                <label for="">Email</label>
                <input type="email" placeholder="Your email">
                <label for="">Password</label>
                <input type="password" value="123456789">
                <span>I accept the terms and privacy policy</span>
                <input type="submit" value="Log in">
            </form>
        </section>
    </main>
    <footer>
        <p>Don’t have an account? <b>Sign up</b></p>
    </footer>
</body>
</html>