@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(../storage/font/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter_18pt-Bold";
    src: url(../storage/font/Inter/Inter_18pt-Bold.ttf);
}
@font-face {
    font-family: "Inter_18pt-SemiBold";
    src: url(../storage/font/Inter/Inter_18pt-SemiBold.ttf);
}